<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookStore_EG03</display-name>
  <filter>
  	<filter-name>TransactionFilter</filter-name>
  	<filter-class>com.whh.bookstore.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>TransactionFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>LoginFileter</filter-name>
  	<filter-class>com.whh.bookstore.filter.LoginFileter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFileter</filter-name>
  	<url-pattern>/client/OrderClientServlet</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>ValidateColorServlet</servlet-name>
    <servlet-class>com.whh.bookstore.servlet.ValidateColorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateColorServlet</servlet-name>
    <url-pattern>/client/ValidateColorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.whh.bookstore.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/client/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registServlet</display-name>
    <servlet-name>registServlet</servlet-name>
    <servlet-class>com.whh.bookstore.servlet.registServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registServlet</servlet-name>
    <url-pattern>/client/registServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.whh.bookstore.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/client/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>com.whh.bookstore.servlet.manager.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/manager/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookCliectServlet</display-name>
    <servlet-name>bookCliectServlet</servlet-name>
    <servlet-class>com.whh.bookstore.servlet.bookCliectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookCliectServlet</servlet-name>
    <url-pattern>/client/bookCliectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartItemServlet</display-name>
    <servlet-name>CartItemServlet</servlet-name>
    <servlet-class>com.whh.bookstore.servlet.CartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartItemServlet</servlet-name>
    <url-pattern>/client/CartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderClientServlet</display-name>
    <servlet-name>OrderClientServlet</servlet-name>
    <servlet-class>com.whh.bookstore.servlet.OrderClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderClientServlet</servlet-name>
    <url-pattern>/client/OrderClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderManagerServlet</display-name>
    <servlet-name>OrderManagerServlet</servlet-name>
    <servlet-class>com.whh.bookstore.servlet.manager.OrderManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderManagerServlet</servlet-name>
    <url-pattern>/manager/OrderManagerServlet</url-pattern>
  </servlet-mapping>
</web-app>